*.o
*.d
*.elf
*.bin
.DS_Store
test/test
test/test.wav
test.wav
*.pyc
/data.cc
/data.hh
*.hex
main.wav
main.map
bootloader/build/bootloader/bootloader.dmp
bootloader/build/lib/CMSIS/startup_stm32f730xx.lst
LOCAL/

.virtualenv/
